:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-blue: #F5EEDC;
    --very-light-pink: #DD4A48;
    --very-light-yellow: #4F091D;
    --font: #97BFB4;
    --sm: 16px;
    --md: 20px;
    --lg: 28px;
    --elg: 32px
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
}
#header-principal {
    display: flex;
    justify-content: center;
    font-size: var(--lg);
    color: #ffffff;
}
ul {
    position: absolute;
}
.nav-item {
    font-size: var(--md);
    margin: 40px 20px;;
}
.nav-item a:hover {
    border-radius: 20px;
    box-shadow: 5px 8px 10px #b010e0;
    top: -5px;
    left: -5px;
}
nav ul li {
   width: 5px; 
   height: 5px;
}
.nav-item a {
    text-decoration: none;
    background: linear-gradient(90deg, rgb(123, 91, 199) 0%, rgb(234, 56, 141) 100%);
    color: #ffffff;
    border-radius: 20px;
    padding: 6px;
    font-size: 16px;
}
#container2 {
    margin: 20px 40px 40px 0px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
article {
    align-content: center;
}
#article-p {
    columns: auto 2;
    color: #ffffff;
    background: #000000;
    margin-top: 5px;
    height: 40vh;
    width: 60vw;
    font-size: var(--sm);
    border-radius: 10px;
}
#section-article, #footer-article, #header-article {
    margin-top: 20px;
    background: linear-gradient(90deg, rgb(123, 91, 199) 0%, rgb(234, 56, 141) 100%);
    color: #ffffff;
    font-size: var(--md);
    width: 60vw;
    border-radius: 10px;
    padding: 0 8px;
}
#header-article {
    margin-top: 0px;
}
#footer {
    text-align: center;
    font-size: var(--md);
    color: #ffffff;
    border-radius: 10px;
    padding: 24px 0 20px;
    border: 2px dotted #830699;
}
#redes {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
}
#redes a{
    height: 30px;
    border-radius: 10px;
    padding: 2px 10px;
    text-decoration: none;
}
img {
    border-radius: 100px;
    height: 60px;
    margin: -12px;
}
img:hover{
    box-shadow: 5px 8px 10px #b010e0;
    top: -5px;
    left: -5px;
}
@media (max-width: 500px) {
    #section-article, #header-article, #footer-article {
        margin: 16px 0px;
        width: 88vw;
    }
    .nav-item {
        margin: 12px;
    }
    .nav-item a {
        padding: 3px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }
    #container2 {
        margin: 24px;
        display: flex;
        justify-content: center;
    }
    #article-p {
        height: 48vh;
        width: 88vw;
    }
    #header-article {
        margin-top: 100px;
    }
}